<%- include('header', {title: 'house' }) %>
<div class="house-page__wrap">
  <div class="house-page__houseimg-wrap">
    <div>
      <img src="/images/houseimage.png" alt="house image" class="house-page__houseimg">
    </div>
  </div>
  <div class="house-desc">
    <div class="pp-name__wrap">
      <img src="/images/vecteezy_user-avatar-line-style_.jpg" alt="owner photo">
      <h1><%= info.housedata.owner_name %></h1>
    </div>
    <div class="two_cols_grid">
      <img src="/images/phone-solid.svg" alt="phone icon" class="house-page__icons">
      <p><%= info.housedata.phone %></p>
      <img src="/images/location-dot-solid.svg" alt="phone icon" class="house-page__icons">
      <p class="house-page__addr-p"><%= info.housedata.address %></p>
      <img src="/images/star-solid.svg" alt="star icon" class="house-page__icons">
      <p><%= info.housedata.rating %></p>
      <img src="/images/bed-solid.svg" alt="bed icon" class="house-page__icons hpi_bed">
      <p><%= info.housedata.bed_count %></p>
      <img src="/images/toilet-solid.svg" alt="toilet icon" class="house-page__icons hpi_toilet">
      <% if(info.housedata.priv_toilet < 1) { %>
        <p>Public</p>
      <% } else { %>
        <p>Private</p>
      <% } %>
    </div>
    <p>Description:</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi soluta asperiores nihil aut quibusdam sapiente voluptatum quisquam. Hic odit magnam placeat distinctio ut, repellat fugit culpa, recusandae nihil eos autem repellendus nisi tempora explicabo.</p>
  </div>
</div>
<%- include('footer') %>